<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Artifact #1">Artifact #1</a></li>
	        		<li><a href="/Artifact #2">Artifact #2</a></li>
	        		<li><a href="/Artifact #3">Artifact #3</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kate.holterhoff@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
